*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 50.5%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif; }
  @media (max-width: 768px) {
    html {
      font-size: 42%; } }
  @media (max-width: 425px) {
    html {
      font-size: 42%; } }
  @media (max-width: 321px) {
    html {
      font-size: 35%; } }

body {
  background-color: #454444;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

@media (max-width: 425px) {
  .form-wrapper {
    width: 100%; } }

@media (max-width: 321px) {
  .form-wrapper {
    width: auto; } }

.college-name {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .college-name img {
    height: 14rem;
    border-radius: 1rem; }
    @media (max-width: 425px) {
      .college-name img {
        height: 10rem; } }
  @media (max-width: 425px) {
    .college-name {
      width: 100%;
      margin: 0 auto 2rem auto;
      padding: 2rem 1rem; } }

.heading-1 {
  font-size: 4.2rem;
  letter-spacing: 3px; }
  @media (max-width: 768px) {
    .heading-1 {
      font-size: 3.2rem;
      letter-spacing: 2px; } }
  @media (max-width: 425px) {
    .heading-1 {
      font-size: 2rem;
      letter-spacing: 1px; } }

.heading-2 {
  font-size: 3rem;
  letter-spacing: 2px; }
  @media (max-width: 768px) {
    .heading-2 {
      font-size: 2rem;
      letter-spacing: 1px; } }
  @media (max-width: 425px) {
    .heading-2 {
      font-size: 1.2rem;
      letter-spacing: 1px; } }

.form {
  background-color: #faebfd;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  column-gap: 3rem;
  row-gap: 2.5rem; }
  .form__description {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center; }
    @media (max-width: 425px) {
      .form__description {
        font-size: 2rem; } }
  .form__group {
    display: flex;
    flex-direction: column; }
  .form__select {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    color: #757474;
    background-color: rgba(224, 223, 223, 0.34); }
    .form__select option {
      color: black; }
    .form__select:focus {
      outline: 2px solid #000; }
    @media (max-width: 425px) {
      .form__select {
        margin-bottom: 3rem; } }
  .form__input {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
    background-color: rgba(224, 223, 223, 0.34); }
    .form__input::placeholder {
      color: #757474; }
    .form__input:focus {
      outline: none; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #f45858; }
    .form__input:valid {
      border-bottom: 3px solid #3fc53f; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    transform: translateY(-4rem); }
  .form__label {
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #515151;
    letter-spacing: 0.5px;
    transition: all 0.2s ease; }
  .form__upload {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #232222;
    color: white;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: scale(1.01);
    text-align: center;
    transition: all 0.2s; }
    .form__upload:hover {
      background-color: #4a4949; }
    .form__upload:active {
      transform: scale(1);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .form__submit {
    grid-column: 1 / -1;
    font-size: 2rem;
    padding: 1.5rem 6rem;
    border: none;
    border-radius: 0.5rem;
    justify-self: center;
    color: white;
    cursor: pointer;
    transform: scale(1.01);
    text-align: center;
    transition: all 0.2s;
    background-color: #232222;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
    .form__submit:hover {
      background-color: #4a4949; }
    .form__submit:active {
      transform: scale(1);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 425px) {
    .form {
      width: 100%;
      margin: 0 auto 2rem auto;
      grid-template-columns: max-content;
      gap: 1.5rem; } }
